.footer-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 200px;
    background-color: black;
    border-top: 1px solid rgba(181, 180, 180, 0.401);
    color: white;
    
}


.footer-content{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    margin-top: 30px;
}

.footer-title h3{
    font-size: 30px;
}

.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;

}


.footer-cr{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 4px;
}